@import "tailwindcss";


:root {
  --inter: 'Inter', sans-serif;
  --inter-tight: "Inter Tight", sans-serif;
  --poppins: 'Poppins', sans-serif;
  --darkM: #191919;
  --semi-drk: #1F1F1F;
  --pure-dark: #070707;
  --grayM:#878787;
  --shadow: #2A2A2A;
  --whiteM: #F4F4F4;
}

/* @theme {
  --color-cDark: var(--dark);
  --font-poppinsMine: var(--poppins), sans-serif;
} */

body{
  background-color: var(--bg-clr);
}

@layer base{
  #logo_nav{
    font-family: var(--poppins);
    color: var(--text-clr);
  }
  h1, p, a{
    font-family: var(--inter);
  }
  .poppins_font{
    font-family: var(--poppins);
  }
}

@layer components {
  .link{
    width: 5rem;
    height: 100%;
    background-color: #0074BD;
    border-radius: 3px;
    background-color: var(--semi-drk);
    font-family: var(--poppins);
    font-size: 13px;
    color: var(--whiteM);
    font-weight: 300;
  
  
  }
}

.quotes_event:hover .btn_nav{
  @apply top-[0rem];
}
.btn_nav{
  font-family: var(--poppins);
  font-size: 13px;
  transition: 200ms;
  color: var(--whiteM);
  background: linear-gradient(
    #0074BD,
    #97D7FF
  );
}
.active{
  background: linear-gradient(
    #0074BD,
    #97D7FF
  );
}

@utility flex-center {
  @apply flex justify-center items-center;
}

[data-theme='dark'] {
  --text-clr: #F4F4F4;
  --bg-clr: #070707;
  --navigator-bg: #19191900;
  --navigator-brd: #2A2A2A;
  --img-opa: 0.4;

  --foo-bg: #F4F4F4;
  --foo-lg: #181818;
}
[data-theme='light'] {
  --text-clr: #181818;
  --bg-clr: #F4F4F4;
  --navigator-bg: #191919;
  --navigator-brd: #2a2a2a00;
  --img-opa: 0.9;

  --foo-bg: #070707;
  --foo-lg: #F4F4F4;
  
}

::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}




.spiral-animation{
  top: -32rem;
  rotate: -150deg;
  animation: showTop 1.5s ease forwards;
  animation-delay: 200ms;
}
@keyframes showTop{
  to{
    top: -22rem;
    rotate: -178deg;
  }
}